/* You can add global styles to this file, and also import other style files */
.container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(-130deg, #334333, #555555);
}